Assets/Standard Assets
Assets/Shaders
Assets/Textures
Assets/Plugins
Assets/PostPorcessingProfiles
Assets/Meshes
Assets/Materials
Assets/MarchingCubesTest
Assets/LightingSettings
Assets/HDRPDefaultResources
Assets/Sounds
Assets/Scenes
Assets/Settings
Assets/Universal Sound FX
Assets/VFX Graphs
ProjectSettings
Logs
Temp
UserSettings
Packages
Library
Assets/Procedural Worlds
Assets/Scenes
Library/ArtifactDB
Library/Artifacts
Library/PlayerDataCache